html,
body {
  padding: 0;
  margin: 0;
  font-family: Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 1.3rem;
  height: 100%; 
}

* {
  box-sizing: border-box;
}

.footer,
.push {
  height: 50px;
}